* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
  text-align: center;
  background-color: #49CC34;

}

.login-container{
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  margin-left: 40%;
  height: fit-content;
  margin-bottom: 20%;
  border:1px solid #49CC34;
  width: fit-content;
  padding:1%;
  align-items: center;
  border-radius: 15px;
}

input{
  width: fit-content;
  font-size: 22px;
  line-height: 2;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-h3{
  font-size: 2em;
  margin: 3%;
  align-self: initial;
}

.btn{
  margin-top: 5%;
  width:50%;
  height: 50px;
  font-size: x-large;
  margin-bottom: 2%;
  background-color: #49CC34;
  border-color: #49CC34;
  border-radius: 5px;

}

.survey-card{
  width: 60%;
  height: 50px;
  padding-left: 5%;
  padding-top: 1%;
  background-color: lightgray;
  margin: 2%;
  cursor: pointer;
}

.survey-card:hover{
  transform: scale(1.05);
}

.surveys-container{
  margin: 2%;
}

.completed{
  text-decoration: line-through;
  background-color: grey;
  cursor: initial !important;
}

.question-container{
  margin: 2%;
}